/*Global Styling*/
.no-left-padding {
	padding-left: 0;
}

.align-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ui.segment:last-child {
	margin-top: 5px;
}

/*App Component*/
.jumbotron {
	height: 15vh;
	color: #0d397f;
	margin: 10px 0;
}

/*Categories List Component*/
.categories-list {
	height: 7vh;
	padding: 0;
}

.categories-list .row {
	height: 100%;
	padding: 0 15px;
}

/*Category Item*/
.category-item {
	padding: 0 5px;
	cursor: pointer;
}

.cnn,
.fox,
.bbc,
.nyt,
.alj,
.esat {
	height: 100%;
	font-weight: bold;
}

.cnn {
	color: red;
	border: 1px solid red;
}

.fox {
	color: #fff;
	border: 1px solid #0d397f;
	background: #0d397f;
}

.bbc {
	color: #fff;
	border: 1px solid #f24444;
	background: #f24444;
}

.nyt {
	color: #fff;
	border: 1px solid #333;
	background: #333;
}

.alj {
	color: #fff;
	border: 1px solid #ff7532;
	background: #ff7532;
}

.esat {
	color: #0d6433;
	border: 1px solid #0d6433;
}

/*News Detail*/
.news-detail {
	padding: 10px 0;
}

/*News List*/

.news-list h3 {
	height: 7vh;
	color: #0d397f;
	border: 1px solid grey;
}

.ui.list:last-child {
	margin-top: 10px;
}

/*News Item*/
.video-item {
	cursor: pointer;
	text-align: center;
}