/*Global Styling*/
.container {
	padding: 10px;
}

.no-left-padding {
	padding-left: 0;
}

.align-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ui.segment:last-child {
	margin: 5px 0 10px 0px;
}

/*App Component*/
.jumbotron {
	background-color: #fff;
	border: 1px solid #e9ecef;
	height: 15vh;
	color: #707070;
	margin-bottom: 10px;
}

/*Categories List Component*/
.categories-list {
	height: 7vh;
	padding: 0;
}

.categories-list .row {
	height: 100%;
	padding: 0 15px;
}

/*Category Item*/
.category-item {
	padding: 0 5px;
	cursor: pointer;
}

.cnn,
.fox,
.bbc,
.nyt,
.alj,
.esat {
	height: 100%;
	font-weight: bold;
}

.cnn {
	color: red;
	border: 1px solid #e9ecef;
}

.fox {
	color: #0d397f;
	border: 1px solid #e9ecef;
}

.bbc {
	color: #f24444;
	border: 1px solid #e9ecef;
}

.nyt {
	color: #333;
	border: 1px solid #e9ecef;
}

.alj {
	color: #ff7532;
	border: 1px solid #e9ecef;
}

.esat {
	color: #0d6433;
	border: 1px solid #e9ecef;
}

/*News Detail*/
.news-detail {
	padding: 10px 0;
}

/*News List*/

.news-list h3 {
	height: 7vh;
	color: #707070;
	border: 1px solid #e9ecef;
}

.ui.list:last-child {
	margin: 10px 0;
}

/*News Item*/
.video-item {
	cursor: pointer;
	text-align: center;
}

.video-item img {
	width: 100%;
	margin-bottom: 5px;
}

.relaxed .video-item:first-child img {
	width: auto;
}